<div class="main-container" *ngIf="cart$ | async as cart">
  <div class="order-summary" *ngIf="cart && cart.length >= 1;">
    <h2 class="section-title">Order Summary</h2>

    <div class="summary-list">
      <div *ngFor="let order of cart" class="order-item">
        <img class="img" src="{{ order?.image || '../../../../../../assets/images/biriyani.webp' }}" alt="order.name">
        <div class="order-details">
          <div class="order-name">{{ order.name }}</div>
          <div class="order-price" style="font-weight: 600;">
            <span *ngIf="order.addons?.length"> ₹{{ (order.price * order.selectedQty).toFixed(2) }} + ₹{{
              getAddonTotal(order).toFixed(2) }} = ₹{{ (order.price * order.selectedQty +
              getAddonTotal(order)).toFixed(2) }}</span>
            <strong *ngIf="!order.addons?.length"> ₹{{order.price }} x {{order.selectedQty}} = ₹{{ (order.price *
              order.selectedQty + getAddonTotal(order)).toFixed(2) }}</strong>
          </div>

          <div class="order-addons" *ngIf="order?.addonsAvailable">
            <div *ngIf="order.addons?.length; else noAddons">
              <div *ngFor="let addon of order.addons" style="font-size: 13px; color: #555;">
                • {{ addon.name }} ({{ addon.qty }} x ₹{{ addon.price }}) = ₹{{ addon.qty * addon.price }}
              </div>
              <button class="btn btn-sm btn-outline-danger" (click)="editAddons(order)">
                <i class="fa fa-pencil"></i> Edit Addons
              </button>
            </div>

            <ng-template #noAddons>
              <button class="btn btn-sm btn-outline-primary" (click)="editAddons(order)">
                <i class="fa fa-plus"></i> Addons
              </button>
            </ng-template>
          </div>




        </div>

        <div class="quantity-control">
          <button class="btn-primary btn btn-sm" (click)="updateQuantity(order, -1)">-</button>
          <span class="quantity">{{ order.selectedQty || 1 }}</span>
          <button class="btn-primary btn btn-sm" (click)="updateQuantity(order, 1)">+</button>
          <button class="remove-btn" (click)="removeFromCart(order)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>



  <div class="checkout" *ngIf="cart && cart.length >= 1;">

    <div class="order-type">
      <mat-radio-group [(ngModel)]="orderType" color="primary">
        <mat-radio-button value="Bill">Bill</mat-radio-button>
        <mat-radio-button value="Dine-in">Dine-in</mat-radio-button>
        <mat-radio-button value="Takeaway">Takeaway</mat-radio-button>
      </mat-radio-group>
      <hr>
    </div>

    <div class="chip-group" *ngIf="orderType == 'Dine-in' ">
      <mat-chip-listbox>
        <span style="margin-top: 10px;">Select Table:</span>
        <mat-chip-option *ngFor="let type of table" [selected]="tableNumber === type._id" (click)="selecttable(type)">
          {{ type?.name }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>


    <div class="discount-section" style="margin-top: 20px;" *ngIf="orderType != 'Dine-in' ">
      <label style="font-weight: 600;">Apply Discount:</label>

      <div style="margin: 10px 0;">
        <mat-radio-group [(ngModel)]="discountType" style="display: flex; gap: 15px;">
          <mat-radio-button value="percentage">Percentage (%)</mat-radio-button>
          <mat-radio-button value="amount">Flat Amount (₹)</mat-radio-button>
        </mat-radio-group>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
        <mat-form-field style="width: 100%;">
          <mat-label>Discount Value</mat-label>
          <mat-icon matPrefix *ngIf="discountType == 'percentage'">percentage</mat-icon>
          <mat-icon matPrefix *ngIf="discountType == 'amount'">currency_rupee</mat-icon>
          <input matInput type="number" placeholder="Discount Value" [(ngModel)]="discountValue" min="0" />
        </mat-form-field>
      </div>

    </div>


    <div class="summary-footer" *ngIf="(cartTotalPrice$ | async) as total">
      <div class="tax-breakdown" *ngIf="orderType !== 'Dine-in'">
        <ng-container *ngIf="getEstimatedTaxBreakdown(total) as estimate">
          <p><strong>Subtotal:</strong> ₹{{ total.toFixed(2) }}</p>
          <p *ngIf="taxstatus">
            <strong>SGST ({{ sgst }}%):</strong> <span style="color: green;"> + ₹{{ estimate.sgstAmount.toFixed(2)
              }}</span>
          </p>
          <p>
            <strong>CGST ({{ cgst }}%):</strong> <span style="color: green;">
              + ₹{{ estimate.cgstAmount.toFixed(2) }}
            </span>
          </p>
          <p *ngIf="discountValue"><strong>Discount:</strong> <span style="color: red;"> -₹{{
              estimate.discountAmount.toFixed(2) }}</span> </p>
          <p *ngIf="estimate.roundOff !== 0"><strong>Round Off:</strong> ₹{{ estimate.roundOff.toFixed(2) }}</p>
          <p class="g_total"><strong>Total Payable:</strong> <span class="g_total_amount"> ₹{{
              estimate.finalTotal.toFixed(2) }} </span> </p>

        </ng-container>
      </div>


    </div>

    <div style="text-align: center;display: flex;justify-content: center;text-align: center;">
      <button mat-raised-button color="primary" [disabled]="checkoutDisabled() || isLoading" (click)="submitOrder()"
        style="min-width: 100%;text-align: center;display: flex;justify-content: center;">
        <span *ngIf="!isLoading"><i class="fa fa-check" aria-hidden="true"></i> Checkout</span>
        <span *ngIf="isLoading"><mat-spinner diameter="20"></mat-spinner></span>
      </button>
    </div>


  </div>

  <div *ngIf="(cartCount$ | async)?.toString() === '0'" class="no-data">
    <div class="no-orders-message">
      <img src="./assets/images/emptycart.png" alt="" height="150px" width="150px">
      <p>No items in the cart.</p>
    </div>
  </div>
</div>