<mat-sidenav-container class="sidenav-container" >

  <mat-sidenav #drawer class="sidenav" mode="over" [opened]="false" (closedStart)="onCloseSidenav()">
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }"
        (click)="drawer.toggle()">
        <i class="fa fa-list" aria-hidden="true"></i> Menu List
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }"
        (click)="drawer.toggle()">
        <i class="fa fa-file-text-o" aria-hidden="true"></i> Orders
      </a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }"
        (click)="drawer.toggle()">
        Contact
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Billing.Com</span>
      <span class="spacer"></span>
      <nav class="desktop-nav">
        <a mat-button routerLink="" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">
          Menu List
        </a>
        <a mat-button routerLink="/about" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-file-text-o" aria-hidden="true"></i> Orders
        </a>
        <a mat-button routerLink="/contact" routerLinkActive="active-menu" [routerLinkActiveOptions]="{ exact: true }">
          Contact
        </a>
      </nav>
      <mat-icon (click)="opencart()" *ngIf="getCartItemCount() <= 0">shopping_cart</mat-icon>
      <mat-icon (click)="opencart()"  matBadgeSize="small" matBadge="{{ getCartItemCount() }}" matBadgeColor="accent" matBadgePosition="above after"
        *ngIf="getCartItemCount() > 0">
        shopping_cart
      </mat-icon>
      <mat-icon [matMenuTriggerFor]="menu">person</mat-icon>


  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="viewProfile()">
      <mat-icon [style.fontSize]="'16px'" aria-hidden="false" class="menu-icon">account_circle</mat-icon>
      Profile
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon [style.fontSize]="'16px'" aria-hidden="false" class="menu-icon">exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>


    </mat-toolbar>

    <!-- <div class="content">
      <router-outlet></router-outlet>
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
