<div class="menu-section">
  <h2 class="section-title"></h2>

  <div class="filters-container">

    <mat-chip-grid #reactiveChipGrid>
      <span class="search-chip">
        <mat-icon matChipAvatar class="search-icon">search</mat-icon>
        <input [formControl]="searchControl" [matChipInputFor]="reactiveChipGrid" autofocus
          placeholder="Search Food Type" />
      </span>
    </mat-chip-grid>
    <button class="btn-primary filter-toggle" (click)="toggleView()"> <i class="fa fa-filter"
        aria-hidden="true"></i></button>

    <div class="chip-group" [ngClass]="(isMobile && !filterchip) ? 'hide-chip-filter' : 'show-chip-filter'">
      <mat-chip-listbox>
        <span style="margin-top: 10px;">Food Type:</span>
        <mat-chip-option *ngFor="let type of foodTypes" (click)="selectFoodType(type?._id)"
          [highlighted]="selectedType === type">
          {{ type?.name }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div class="chip-group" [ngClass]="(isMobile && !filterchip) ? 'hide-chip-filter' : 'show-chip-filter'">
      <mat-chip-listbox>
        <span style="margin-top: 10px;">Meal Type:</span>
        <mat-chip-option *ngFor="let meal of mealTypes" (click)="selectMealType(meal?._id)"
          [highlighted]="selectedMealType === meal">
          {{ meal?.name }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>

  <div *ngIf="foods.length === 0">
    <div class="nodata">No items found matching your search criteria. <mat-icon> insert_emoticon_sad</mat-icon></div>
  </div>

  <div class="food-menu">

    <mat-card *ngFor="let food of foods" class="food-card">
      <img mat-card-image [src]="food.image || '../../../../assets/images/biriyani.webp' " [alt]="food.name"
        class="food-image" />
      <mat-card-title>{{ food.name }}</mat-card-title>
      <mat-card-content>
        <p><strong>Price:</strong> {{ food.price | currency: 'INR' }}</p>
        <p *ngIf="food?.qty && showqty == true"><strong>Available Qty: <span style="color: red;"> {{food?.qty}}
            </span></strong></p>
      </mat-card-content>
      <!-- <div *ngIf="food.addons && food.addons.length > 0">
        <button class="btn btn-primary btn-sm" (click)="openAddonDialog(food)"
          style="height: min-content;width: min-content;">Addons
        </button>
      </div> -->
      <div class="button-conf">
        <div class="quantity-selector">
          <button color="primary" (click)="decreaseQuantity(food)">-</button>
          <span class="qty">{{ food.selectedQty || 0 }}</span>
          <button color="primary" (click)="increaseQuantity(food)">+</button>
        </div>
        <button class="btn-success cart-btn btn btn-sm" (click)="onAddToCart(food)">
          Add <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </mat-card>
  </div>
</div>