/* Card Styling */
.data-table-container {
  margin: 0 20px 20px 20px;

}
.mat-mdc-card-content {
  padding:0;
}

.data-table-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.data-table-card-head{
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  margin: 15px;
}

button.mat-raised-button {
  font-size: 14px;
}

.filters {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: -21px;
  // margin-bottom: -5px;
}

.search-input {
  max-width: 300px;
}

/* Table Styling */
table.mat-elevation-z8 {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th.mat-header-cell {
  background-color: #f1f1f1;
  padding: 12px;
  text-align: left;
  font-weight: 600;
  color: #333;
}

td.mat-cell {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

mat-paginator {
  margin-top: 20px;
  text-align: center;
}

/* Button Styling */
button.mat-button {
  margin-right: 8px;
}

/* Styling for Checkbox */
mat-checkbox {
  padding: 0;
}
/* Style for Left and Right Cards */
.data-table-card {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ensure Cards Align Properly */
.add-button-container {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  padding: 10px;
}

.search-input {
  width: 100%;
}
.no-data-row {
  background-color: #f2f2f2;
  color: #777;
  font-weight: bold;
}

/* From Uiverse.io by joe-watson-sbf */
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 20em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus+.search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
.example-container {
  height: 350px;
  overflow: auto;
}

.mat-row .mat-cell {
  height: 20px;
  padding: 5px;
}
.mat-mdc-card-content:last-child {
  padding-bottom: 0px;
}
