<div class="menu-section">
  <h2 class="section-title">Food Menu</h2>

  <div class="filters-container">

    <mat-chip-grid #reactiveChipGrid>
      <span class="search-chip">
        <mat-icon matChipAvatar class="search-icon">search</mat-icon>
        <input [(ngModel)]="searchQuery" [matChipInputFor]="reactiveChipGrid" autofocus
          placeholder="Search Food Type" />
      </span>
    </mat-chip-grid>
    <button class="btn-success filter-toggle" (click)="toggleView()"> <i class="fa fa-filter"
        aria-hidden="true"></i></button>

    <div class="chip-group" [ngClass]="(isMobile && !filterchip) ? 'hide-chip-filter' : 'show-chip-filter'">
      <mat-chip-listbox>
        <span style="margin-top: 10px;">Food Type:</span>
        <mat-chip-option *ngFor="let type of foodTypes" (click)="selectFoodType(type)"
          [highlighted]="selectedType === type">
          {{ type }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div class="chip-group" [ngClass]="(isMobile && !filterchip) ? 'hide-chip-filter' : 'show-chip-filter'">
      <mat-chip-listbox>
        <span style="margin-top: 10px;">Meal Type:</span>
        <mat-chip-option *ngFor="let meal of mealTypes" (click)="selectMealType(meal)"
          [highlighted]="selectedMealType === meal">
          {{ meal }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>

  <div *ngIf="filteredFoods.length === 0">
    <div class="nodata">No items found matching your search criteria. <mat-icon> insert_emoticon_sad</mat-icon></div>
  </div>

  <div class="food-menu">

    <mat-card *ngFor="let food of filteredFoods; trackBy: trackByFoodId" class="food-card">
      <img mat-card-image [src]="food.image" [alt]="food.name" class="food-image" />
      <mat-card-title>{{ food.name }}</mat-card-title>
      <mat-card-content>
        <p><strong>Price:</strong> {{ food.price | currency: 'INR' }}</p>
        <p><strong>Available Qty: <span style="color: red;"> {{ cartService.availableQty$()[food.id] || 0
              }}</span></strong></p>
      </mat-card-content>

      <div class="button-conf">
        <div class="quantity-selector">
          <button color="primary" (click)="decreaseQuantity(food)"
            [disabled]="cartService.availableQty$()[food.id] <= 0">
            -
          </button>
          <span class="qty">{{ food.selectedQty || 0 }}</span>
          <button color="primary" (click)="increaseQuantity(food)"
            [disabled]="cartService.availableQty$()[food.id] <= 0">
            +
          </button>
        </div>

        <button class="btn-success cart-btn" (click)="addToCart(food)"
          [disabled]="cartService.availableQty$()[food.id] <= 0">
          Add <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
    </mat-card>
  </div>
</div>
