/* General Styles */
.menu-section {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.filters-container {
  display: flex;
  gap: 20px;
  /* margin-bottom: 20px; */
  flex-wrap: wrap;
  /* padding-top: 10px; */
  justify-content: center;
}

.filters {
  margin-right: 10px;
}

.filters-container.hidden {
  display: none;
}

.food-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  overflow-y: auto;
  flex-grow: 1;
  padding-right: 10px;
  max-height: calc(100vh - 180px);
  padding-bottom: 20px;
}

.food-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.food-card .food-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.quantity-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.quantity-selector button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-selector button:hover {
  background-color: #0056b3;
}

.quantity-selector span {
  margin: 0 10px;
  font-weight: bold;
  font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .filter-toggle-btn {
    display: block;
  }

  .filters-container {
    display: none; /* Hide filters by default */
  }

  .filters-container.hidden {
    display: flex; /* Show filters when toggled */
    flex-direction: column;
    gap: 10px;
  }

  .food-menu {
    grid-template-columns: 1fr;
  }

  .food-card {
    padding: 10px;
    font-size: 0.9em;
  }

  .food-card .food-image {
    display: none; /* Hide images on mobile */
  }

  .food-card:hover {
    transform: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* No hover effect on mobile */
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .filter-toggle-btn {
    display: none;
  }

  .filters-container {
    display: flex;
    gap: 20px;
  }
}
.filter-toggle-btn{
background-color: #0056b3;
    color: white;
    width: 35px;
    border: blue;
    border-radius: 50%;
    position: fixed;
    right: 62px;
    top: 20px;
    padding: 4px;
}
