<div class="menu-section">
  <h2 class="section-title">Food Menu</h2>

  <!-- Filters Toggle Icon Button for Mobile -->
  <button class="filter-toggle-btn" (click)="toggleFilters()">
    <mat-icon>filter_list</mat-icon> <!-- Material Design filter icon -->
  </button>

  <!-- Filters -->
  <div class="filters-container" [class.hidden]="!showFilters">
    <div >
      <mat-form-field appearance="outline" class="filters">
        <mat-label>Food Type</mat-label>
        <mat-select [(ngModel)]="selectedType">
          <mat-option value="">All</mat-option>
          <mat-option value="Veg">Veg</mat-option>
          <mat-option value="Non-Veg">Non-Veg</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="filters">
        <mat-label>Meal Type</mat-label>
        <mat-select [(ngModel)]="selectedMealType">
          <mat-option value="">All</mat-option>
          <mat-option value="Lunch">Lunch</mat-option>
          <mat-option value="Dinner">Dinner</mat-option>
          <mat-option value="Snack">Snack</mat-option>
          <mat-option value="Cool Drink">Cool Drink</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Search -->
      <mat-form-field appearance="outline" class="filters">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search by food name" [(ngModel)]="searchQuery" />
      </mat-form-field>
    </div>
  </div>

  <!-- Food Menu Display -->
  <div class="food-menu">
    <mat-card *ngFor="let food of filteredFoods; trackBy: trackById" class="food-card">
      <img mat-card-image [src]="food.image" [alt]="food.name" class="food-image" />
      <mat-card-title>{{ food.name }}</mat-card-title>
      <mat-card-content>
        <p><strong>Price:</strong> {{ food.price | currency: 'INR' }}</p>
      </mat-card-content>

      <div class="quantity-selector">
        <button mat-button color="primary" (click)="decreaseQuantity(food)" [disabled]="food.selectedQty === 0">
          -
        </button>
        <span>{{ food.selectedQty || 0 }}</span>
        <button mat-button color="primary" (click)="increaseQuantity(food)" [disabled]="food.selectedQty >= food.qty">
          +
        </button>
      </div>

      <button mat-raised-button color="accent" (click)="addToCart(food)" [disabled]="food.qty === 0">
        Add to Cart
      </button>
    </mat-card>
  </div>
</div>
