.table-status-container {
  margin: 20px;
  padding: 20px;
}

.tables {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.table-card {
  display: flex;
  flex-direction: column;
}

.occupied {
  background-color: #f32a48;
  color: white;
}

.free {
  background-color: #eaeaea;
}

.main {
  margin: 20px;
  max-height: 88%;
  overflow-y: auto;
}